/* css/habilidades.css - Estilos para a seção Habilidades Técnicas */

#habilidades .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

#habilidades .skill-item {
    background-color: var(--card-bg);
    padding: 15px 25px;
    border-radius: 50px; /* Formato de pílula */
    box-shadow: 0 2px 8px var(--shadow-color);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
}

#habilidades .skill-item span {
    margin-right: 8px;
    font-size: 1.3rem;
}

#habilidades .skill-item:hover {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
}